*{
    color: aliceblue;
}
body {
    background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExMzRvaGxjam93ejM5aWRnaWJyNnBud214Mjc0bW40ZjJoZDFpdXB6OCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/XN7IXT2P68VNvTr2SE/giphy.gif");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    background-image: linear-gradient(-150deg,#00ffc3de,rgba(0, 255, 195, 0) 900px);
    background-size: auto,auto;
    background-color: #ff00d0;
    background-attachment: scroll;
    background-repeat: no-repeat;
    padding: 2rem;
}
.center{
    display: flex;
    justify-content: center;
}
.text{
    display: block; 
    text-align: center; 
    position: relative; 
    translate: none; 
    rotate: none; 
    scale: none; 
    transform: translate(0px); 
    opacity: 1; 
    visibility: inherit;
}
.underline{
    text-decoration: underline;
}
.go-down{
    margin-bottom: 10rem;
    margin-top:10rem;
}