body{
    background-image: linear-gradient(-150deg,#ef38d0d6,rgba(56,71,239,0) 900px);
    background-size: auto,auto;
    background-color: #363636;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
.center{
    display: flex;
    justify-content: center;
}
.text{
    display: block; 
    text-align: center; 
    position: relative; 
    translate: none; 
    rotate: none; 
    scale: none; 
    transform: translate(0px); 
    opacity: 1; 
    visibility: inherit;
}
video{
    object-fit: fill;
    height: 12rem;
    width: 100%;
}